<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADMIN/Product list</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/card.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/"> Shop </a></li>
          <li><a href="/products" class="active"> Products </a></li>
          <li><a href="/cart"> Cart </a></li>
          <li><a href="/orders"> Orders </a></li>
          <li><a href="/admin/add-product"> Add product </a></li>
          <li><a href="/admin/products"> Admin products </a></li>
        </ul>
      </nav>
    </header>

    <main>
      <% if (prods.length > 0) { %>
      <div class="container">
        <% for (let product of prods) { %>
        <div class="card">
          <div class="card-img">
            <img src="<%= product.imageURL %>" alt="<%= product.title %>" />
          </div>
          <hr />
          <div class="card-title">
            <h4><%= product.title %></h4>
          </div>
          <div class="card-price">
            <p><%= product.price %> $</p>
          </div>
          <div class="card-content">
            <p><%= product.description %></p>
          </div>
          <div class="card-controls">
            <a class="btn btn-primary" href="/admin/edit-product">Edit </a>
            <form action="/admin/delete-product" method="POST">
              <button class="btn" type="submit">Delete</button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
    </main>
  </body>
</html>
